﻿@model PDFCreate.Models.ContactForm


<!DOCTYPE html>
<html>
<head>
    <title>Contact Email</title>
    <style>
        body {
            font-family: Calibri, sans-serif;
            font-size: 11pt;
            color: #555;
        }

        blockquote {
            border-left: 8px solid #cceeaa;
            font-size: 12pt;
            margin: 0;
            padding: 30px 60px;
        }
    </style>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Contact Form</h1>
    @*<p>@Model.Name sent a message via the contact form at @DateTime.Now as follows:</p>
        <blockquote>@Model.Message</blockquote>
        <p>
            @Model.Name is using the email address @Model.Email and considers the message to

        </p>*@

    <h1>This is the heading for demonstration purposes only.</h1>
    <p>This is a line of text for demonstration purposes only.</p>

    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    <p>
        117

        RedirectToAction returns a 302 response to the client browser and thus the browser will make a new GET request to the url in the location header value of the response came to the browser.

        If you are trying to pass a simple lean-flat view model to the second action method, you can use this overload of the RedirectToAction method.

        protected internal RedirectToRouteResult RedirectToAction(
        string actionName,
        string controllerName,
        object routeValues
        )
        The RedirectToAction will convert the object passed(routeValues) to a query string and append that to the url(generated from the first 2 parameters we passed) and will embed the resulting url in the location header of the response.

        Let's assume your view model is like this
    </p>
    </p>


</body>
</html>